<div class="section group">
      <div class="col span_1_of_4"> </div>
      <div class="col span_2_of_4"> 
         <section class="contenta">
<center>

<%= render 'form' %>

<%= link_to 'Покажи', @ad %> |
<%= link_to 'Назад', ads_path %>

</section>
</div>
<div class="col span_1_of_4"> </div>
</div>