<div class="section group">
      <div class="col span_1_of_4"> </div>
      <div class="col span_2_of_4"> 
         <section class="contenta">

<h2>Направи обява</h2>

<%= render 'form' %>

<%= link_to 'Назад', ads_path %>

</section>
</div>
<div class="col span_1_of_4"> </div>
</div>