<div class="wrapb">
    <ul class="tt-wrapper">
		<li><a class="tt-gplus" href="/teachers"><span>Мотивираните учителите, които търсихте, но не намерихте другаде.</span></a></li>
		<li><a class="tt-twitter" href="/its"><span>IT специалисти от най-високо ниво.</span></a></li>
		<li><a class="tt-dribbble" href="/accountants"><span>Счетоводителите, които ще направят седмицата Ви по-лека.</span></a></li>
	</ul>
</div>

